.lookUpModal{
  display: none;
  position: fixed;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.lookUpModal.on{
  display: block;
}
.lookUpModalTable{
  position: fixed;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lookUpModalTable th,
.lookUpModalTable td{
  border: 1px solid #000;
  padding: 10px;
}
.lookUpButton{
  padding: 5px;
}